 
    h1{
        font-family: 'Sriracha', cursive;
        text-align: center;
        color: white;
        font-size: 2.3rem;
    }

    .cabecera{
        background-color: orange;
    }
    
    .centrado{
        text-align: center;
    }
    
    .enlaces{
        text-align: left;
        background-color: lightblue;
        
    }
    
    a.sobre:hover {
        background-color: yellow;
        color: red;
      }
    
     .parrafo1{
         background-color: blue;
     }
      pre{
          color: rgb(88, 88, 235);
          background-color: white;
      }

      .brazul{
        
        background-color: blue;
      }

      .brojo{
        background-color: red;
        height: 0.3cm;
      }
      .hrnaranja{
        background-color: orange;
        height: 0.3cm;
      }

      .esteban{
        width: 4.9cm;
        height: 4.0cm;
        float: left; 
      }

      .pc{
        width: 4.0cm;
        height: 4.0cm;
        float: right; 
      }

      .parrafo2{
          background-color: lightblue;
      }

      .segundo{
          color: red;
          background-color: lightblue;
      }

      .LMSGI{
          background-color: lightcoral
         
      }

      .amarillo{
          background-color: yellow;
      }

      .rayado{
          text-decoration: line-through;
      }

      .bprod{
          background-color: orange;
      }

      ul {
        list-style-type: katakana-iroha;
        background-color: rgb(233, 204, 142);
        margin-left: 1cm;
      }